* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility */
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-content: center;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-end {
  align-content: flex-end;
}
.m-auto {
  margin: auto;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
/* .debug */
/* Color */
.debug .red {
  background-color: red;
}
.debug .blue {
  background-color: blue;
}
.debug .white {
  background-color: white;
}
.debug .green {
  background-color: green;
}
.debug .yellow {
  background-color: yellow;
}
.debug .orange {
  background-color: orangered;
}
.debug .violet {
  background-color: violet;
}
.debug .gray {
  background-color: rgb(43, 42, 42);
}
/* Height */
.debug .h1200 {
  height: 1200px;
}
.debug .h900 {
  height: 900px;
}
.debug .h800 {
  height: 800px;
}
.debug .h700 {
  height: 700px;
}
.debug .h500 {
  height: 500px;
}
.debug .h300 {
  height: 300px;
}
.debug .h400 {
  height: 400px;
}
.debug .h200 {
  height: 200px;
}
.debug .h100 {
  height: 100px;
}
.debug .h80 {
  height: 80px;
}
.debug .h60 {
  height: 60px;
}
.debug .h40 {
  height: 40px;
}
/* Widht */
.debug .w900 {
  width: 900px;
}
.debug .w800 {
  width: 800px;
}
.debug .w400 {
  width: 400px;
}
.debug .w100 {
  width: 100px;
}
.debug .w80 {
  width: 80%;
}
.debug .w60 {
  width: 60px;
}
/* Border */
.debug .b-2dd {
  border: 2px dashed black;
}
/* end .debug */
/* Header */

nav {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* end Header */

/* main */

.container {
  width: 100%;
  padding-top: 50px;
}

[class^="col-"] {
  padding: 1rem;
}
.col-8 {
  width: calc(100% / 12 * 8);
}

.col-4 {
  width: calc(100% / 12 * 4);
}
.col-5 {
  height: calc(500px / 12 * 4);
}

/* end main */
