* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .debug */
/* Color */
.debug .blue {
  background-color: blue;
}
.debug .white {
  background-color: white;
}
.debug .green {
  background-color: green;
}
.debug .yellow {
  background-color: yellow;
}
.debug .orange {
  background-color: orangered;
}
/* Height */
.debug .h800 {
  height: 800px;
}
.debug .h700 {
  height: 700px;
}
.debug .h80 {
  height: 80px;
}
.debug .h40 {
  height: 40px;
}
/* Widht */
.debug .w400 {
  width: 400px;
}
.debug .w80 {
  width: 80%;
}
.debug .w60 {
  width: 60px;
}
/* Border */
.debug .b-2dd {
  border: 2px dashed black;
}
/* end .debug */
/* Header */

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* end Header */

/* main */

.container {
  width: 100%;
}

.row {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

/* end main */
